<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
  <a href="#" class="navbar-brand">{{ site.name }}</a>
    <ul class="nav navbar-nav">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/about/">About</a></li>
    </ul>
  </div>
</nav>

  <div class="container">
